.header {
    padding: 10px 0;
}

.container {
    text-align: center;
    height: var(--header-height);
}

.header-title {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    color: black;
}

.header-title img {
    height: var(--header-height);
    /* width: 176px; */
}

.header-search {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header-search input {
    width: 450px;
    max-width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
}

.header-search button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background-color: #a7a8a7;
    border-radius: 0 4px 4px 0;
}

.header-search button:hover {
    background-color: #878a87;
}

.header-auth {
    display: flex;
    align-items: center;
}

.right-button {
    display: flex;
    align-items: center;
    gap: 10px;
}

.right-button a {

}

.auth-button {
    padding: 10px;
    width: 120px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    background-color: black;
}

.auth-button.sign-in:hover {
    background-color: green;
}

.auth-button.sign-up:hover {
    background-color: red;
}

.shell-body {
    background-color: black;
}

.nav {

}

.nav li {
    text-align: center;
    text-decoration: none;
}

.nav li a {
    display: block;
    padding: 10px 0;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.nav li:hover a {
    background-color: #a7a8a7;
    color: black;
}

.shell-content {
    padding-top: 15px;
}

.auth-form {
    min-height: 60vh;
    width: 40%;
    margin: 30px auto;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 6px #0000001a;
    background-color: #f9f9f9;
}

.auth-form h1 {
    text-align: center;
    margin-bottom: 16px;
}

.form-group {
    margin-bottom: 1.25rem;
}

.form-label {

}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-button button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: #4caf50;
    color: var(--white-color);
    cursor: pointer;
}

.form-button button:hover {
    background-color: #45a049;
}

.switch-container {
    text-align: center;
}

.switch-container a {
    color: #4caf50;
    font-weight: 700;
}